*{
   margin: 0;
   padding: 0;
}

body{
    background:#630b0b;
    padding: 20px;
}


/*CABECERA*/
header{
    max-width: 1000px;
    min-height: 130px;
    background: #f70000;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
 }
 #logo{
   width: 17px;
   float: left;
   margin-top: 25px;
   animation: 1s entradalogo 1;
 }

 #logo img{
   width: 150px;
 }


/*CABECERA*/



 /*MENU HORIZONTAL*/
 #menu-h{
    max-width: 1000px;
    min-height: 50px;
    background: #000000;
    margin: 0 auto;
 }
 #menu-h ul{
   list-style: none;
   display: flex;
   justify-content: center;
 }
 #menu-h a{
   color: #fff;
   display: block;
   padding: 20px;
   text-decoration: none;
   background: #000000;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
 }
#menu-h a:hover{
   background: #f70000;
}
 #menu-h ul ul{
   display: none;
   position: absolute;
 }
 #menu-h ul li:hover ul{
   display: block;
 }
 /*MENU HORIZONTAL*/




 #banner{
    max-width: 1000px;
    min-height: 250px;
    background: #ffffff;
    margin: 0 auto;
 }

 #banner img{
   width: 1000px;
 }

 #contenedor{
    max-width: 1000px;
    min-height: 700px;
    background :#bd9999;
    margin: 0 auto;
 } 

 /*segundo menu*/
 #menu-v{
    width: 300px;
    min-height: 700px;
    background: #f70000;
    float: left;
 }
 #menu-v ul{
   list-style: none;
   padding: 10px;
 }
 #menu-v a{
   display: block;
   color: #000000;
   background: #fff;
   padding: 10px;
   text-decoration: none;
   margin-bottom: 8px;
   border-radius: 5px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
}
#menu-v a:hover{
   background: #f70000;
}
#menu-v a:hover img{
   animation: 1s rotation 1;
}
/*segundo menu */




/*CONTENIDO*/
 #contenidos{
    width: 700px;
    min-height: 700px;
    background: #000000;
    color: #FFF;
    float: right;
    padding: 15px;
    box-sizing: border-box;
 }
 #contenidos h2{
   text-align: center;
   margin-bottom: 30px;
 }
 #contenidos p{
   margin-bottom: 30px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   text-align: justify;
 }
 .img-izq{
   float: left;
   margin-right: 10px;
   margin-bottom: 10px;
   width: 250px;
   border: 1px solid #f70000;
   padding: 5px;
 }
/*CONTENIDO*/




/*PIE DE PAGINA*/
 footer{
    max-width: 1000px;
    background: #fffbfb;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    color: #000000;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
 }
/*PIE DE PAGINA*/

